
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-12 col-12 hta-left">
                    <div class="hta-box">
                        <p class="text">Have you any question?</p>
                    </div>
                    <div class="hta-box">
                        <span class="icon"><i class="fas fa-phone"></i></span>
                        <p class="text">9392038363</p>
                    </div> 
                    <div class="hta-box"> 
                        <span class="icon"><i class="fab fa-wapp"></i></span>
                        <p class="text">8970897995</p> 
                    </div>
                    <div class="hta-box">
                        <span class="icon"><i class="fas fa-envelope"></i></span>
                        <p class="text">sripadmavathictvl@gmail.com</p>
                    </div>                    
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-12 hta-right text-right">
                    <div class="hta-box">
                        <div class="item form-group"> 
                            <select  class="form-control col-md-7 col-xs-12"  name="role_id"  id="edit_role_id" required="required" onchange="change_school(this.value);">
                                <option value="">--select--</option>
                                <option value="spsschool">header.html - Sri Padmavathi school</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="hta-box">
                        <a class="text" href="../admission-online.html">Admission></a>
                    </div>
                    <!--
                    <?php if (logged_in_user_id()) { ?>  
                    
                        <div class="hta-box">
                            <a class="text" href="<?php echo site_url('dashboard'); ?>"><?php echo $this->lang->line('dashboard'); ?></a>
                        </div>
                        <div class="hta-box">
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                            <a class="text" href="<?php echo site_url('auth/logout'); ?>"><?php echo $this->lang->line('logout'); ?></a>
                        </div>
                    <?php }else{ ?>
                        <div class="hta-box">
                            <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                            <a class="text" href="<?php echo site_url('login'); ?>"><?php echo $this->lang->line('login'); ?></a>
                        </div>
                    <?php } ?>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 offset-lg-0 col-md-4 offset-md-3 col-sm-6 col-6">
                    <div class="logo">
                        <a href="#">                        
                            <img src="../../assets/images/sps_logo.jpg" alt=""  />
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 offset-lg-0 col-md-8 offset-md-2 col-sm-12 col-12">
                    <div class="menu">
                        <nav id="mobile_menu_active">
                            <ul id="menu">
                                <li><a href="../index.html">Home</a></li>
                                <li><a href="#">Announcement <span class="icon fas fa-chevron-down"></span></a>
                                    <ul class="drop">
                                        <li><a href="news">News</a></li>
                                        <li><a href="notice">Notice</a></li>
                                        <li><a href="holiday">Holiday</a></li>
                                    </ul>                                
                                </li>
                                <li><a href="events">Events</a></li>
                                <li><a href="galleries">Galleries</a></li>
                                <li><a href="teachers">Teachers</a></li>
                                <!--
                                <li><a href="staff">Staff</a></li>
                            -->
                                <li><a href="contact">Contact us</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>