<footer>
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-7 col-sm-7 col-12">
                    <div class="footer-widget">
                        <div class="fw-logo">
                            <img src="./assets/images/sps_logo1" alt=""  />
                        </div>
                        <p class="text">
                            Sri Padmavathi school
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-5 col-12">
                    <div class="footer-widget">
                        <h2 class="fw-title"> <span>Quick_link</span></h2>
                        <ul class="links">
                            <li><a href="Admission-online">Aadmission</a></li>
                            <li><a href="news">news</a></li>
                            <li><a href="notice">notice</a></li>
                            <li><a href="holiday">holiday</a></li>
                            <li><a href="events">event</a></li>
                            <li><a href="galleries">gallery</a></li>
                            <li><a href="teachers">teacher</a></li>
                            <li><a href="staff">staff</a></li>
                            <li><a href="contact">contact_us</a></li>
<!--
                            <li><a href="page/'.$obj->page_slug">Page_title</a></li>
                        -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-5 col-12">
                    <div class="footer-widget">
                        <h2 class="fw-title">social_link</h2>
                        <ul class="social">
                            <li><a href="facebook_url" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="twitter_url" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="linkedin_url" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="google_plus_url" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="youtube_url" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="instagram_url" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="pinterest_url" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7 col-sm-7 col-12">
                    <div class="footer-widget">
                        <h2 class="fw-title">get_in_touch</h2>
                        <ul class="address">
                            <li><span class="icon"><i class="fas fa-phone"></i></span> 
                                9392038363
                            </li>
                            <li><span class="icon"><i class="fas fa-envelope"></i></span>
                                sripadmavathictvl@gmail.com
                            </li>
                            <li><span class="icon"><i class="fas fa-map-marker-alt"></i></span> 
                                Chitvel, 516104
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container text-center">
            <p class="copyright">
                Copyright © Sri Padmavathi High School 2020              
            </p>
        </div>
    </div>
</footer>
